@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: latoregular;
  src: url(../public/Lato-Regular.ttf);
}

@font-face {
  font-family: latobold;
  src: url(../public/Lato-Bold.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navlogo{
  font-family: latobold;
}

.navmain{
  font-family: latoregular;
}

.lineservice{
  line-height: 2 !important;
}

/* .hoverbox p{
  color: black;
} */

.hoverbox:hover h3{
  color: white;
}

.hoverbox:hover p{
  color: white;
}